.carousel .control-dots .dot {
    background-color: #ccc;
}

.carousel .control-dots .dot.selected {
    background-color: #C92071;
}

.pai {
    display: flex;
}

.lado {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 300px;
}
